html{
  scroll-snap-type:y mandatory;
}
.app{
  height:100vh;
  position: relative;
  background-color:black ;
  display:grid;
  place-items:center;
}


.app_videos{
  position: relative;
  height:800px;
  border-radius: 20px;
  overflow: scroll;
  place-items:center;
  width:90%;
    scroll-snap-type:y mandatory;

}

.app_videos::-webkit-scrollbar{
  display: none;

}